:root {
    --accent-background-title-color: #2F303A;
    --accent-background-footer-color: #2F303A;
    --accent-background-our-team-color: #F5F4FA;
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2196F3;
    
    --accent-text-color: #757575;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    color:var(--accent-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
margin: 0;
padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.header {
    background: var(--secondary-text-color);
}

.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-color {
    color:var(--secondary-background-color);
}

.header-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}

.contacts {
    color: var(--accent-text-color);
}

.hero{
    background-color:var(--accent-background-title-color);
    text-align: center;
    margin-bottom: 94px;
}

.hero-title {
    font-family: var(--main-font);
    font-size: 44px;
    padding: 200px 452px 200px 452px;
    line-height: 1.36;
    color:var(--secondary-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color:var(--secondary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
}

.about-subtitle {
    width: 270px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}


.services-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;
    color: var(--primary-text-color);
}

.services-list {
    display: flex;
    margin-top: 50px;
}

.services-img {
    margin-left: auto;
    margin-right: auto;
}

.our-team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.our-team {
    padding: 0px 0px 0px 0px;
    background: var(--primary-background-color);
}

.our-team-list {
    display: flex;
    
}

.name {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    /* text-align: center; */
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.card-in-case {
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.name-work {
    min-width: 137px;
    padding: 30px 66px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--secondary-text-color);
}

address {
    font-style: inherit;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-background-color);
    cursor:pointer;
}

a:focus {
    color: var(--secondary-background-color);
}

li {
    list-style: none;
}

.filter-button {
    min-width: 73px;
    height: 38px;
    background: var(--primary-background-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    text-align: center;
    letter-spacing: 0.03em;
    display: block;
}

button {
    display: block;
}

button:hover {
    cursor:pointer;
    color: white;
    background-color:#2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

button:focus {
    color: white;
    background-color:#2196F3;
}

.container {
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.title-filter { 
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.place {
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.logo-footer {
    color:var(--secondary-text-color);
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
} 

 .footer {
    background: var(--accent-background-footer-color);
 }