:root {
    --accent-background-title-color: #2F303A;
    --accent-background-footer-color: #2F303A;
    --accent-background-our-team-color: #F5F4FA;
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2196F3;
    
    --accent-text-color: #757575;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
    color:var(--accent-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
margin: 0;
padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* -----------------------------ЛОГОТИП--------------------- */

.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo:not(.nohover):hover,
.logo:not(.nofocus):focus {
color: var(--primary-text-color);
}

.logo-color {
    color:var(--secondary-background-color);
}

/* --------------------------МЕЙН-------------------------- */

.main-nav {
    display: flex;
    align-items: center;
}

/* ----------------------------------ХЕДЕР---------------------------- */

.header {
    background: var(--secondary-text-color);
    display: flex;
    border: 1px solid #ECECEC;
}

.header-page {
   display: flex;
   align-items: center;
}

.header-link {
    font-size: 14px;
    font-weight:bold;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}

.header-links {
    display: flex;
    margin-left: 93px;
}

.header-links .item {
    margin-right: 50px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-links .item:last-child {
    margin-right: 0px;
}

.header-contacts {
    display: flex;
    font-weight:bold;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
}

.header-contacts .item + .item {
     margin-left: 50px;
}

.contacts {
    color: var(--accent-text-color);
}

/* --------------------------ЗАГОЛОВОК И КНОПКА------------------------- */

.hero{
    background-color:var(--accent-background-title-color);
    text-align: center;
}

.page-hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-family: var(--main-font);
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
    text-align: center;
    color:var(--secondary-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.hero-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color:var(--secondary-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
}

/* ----------------------------О НАС ------------------------ */

.about-list {
    display: flex;
    justify-content: center;
}

.about-list li {
    /* width: 270px; */
    /* height: 75px; */
    margin-right: 30px;
    align-items: center;
}

.about-list li:last-child {
    margin-right: 0px;;
}
 
.about-subtitle {
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

/* --------------------------ЧЕМ мы занимаемся------------------------------- */

.services-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.services {
    padding-top: 0px;
}

.services-list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.services-img {
    display: flex;
    margin-right: 30px;
}

.services-img:last-child {
    margin-right: 0px;
}

/* ------------------------------Наша команда----------------------------- */
.our-team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.our-team {
    background: var(--primary-background-color);
}

.our-team-list {
    display: flex;
    justify-content: center;
}

.title-filter {
    margin-top: 20px;
    margin-bottom: 4px;
}

.name {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.card-in-case {
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.card-in-case:last-child {
    margin-right: 0px;
}

.name-work {
    min-width: 137px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--secondary-text-color);
}

address {
    font-style: inherit;
}

/* ----------------------------------------ССЫЛКИ------------------------------- */

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-background-color);
    cursor:pointer;
}

a:focus {
    color: var(--secondary-background-color);
}

li {
    list-style: none;
}

/* -------------------------------------КНОПКИ--------------------------- */


/* ------------------------------------КНОПКИ ФИЛЬТРА------------------------ */


.filter-button {
    min-width: 73px;
    height: 38px;
    background: var(--primary-background-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62px;
    letter-spacing: 0.03em;
}

.filter-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button-list li {
    margin-right: 8px;
}

.filter-button-list li:last-child {
    margin-right: 0px;
}

button:hover {
    cursor:pointer;
    color: white;
    background-color:#2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.title-filter { 
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

 .filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
}

.filter-list > .container-set {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 30px * 3) / 3);
}

/* .filter-list > .container-set: */

.container-set {
    width: 370px;
    height: 404px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}


/* -------------------------------------ВСЕ КНОПКИ------------------------------ */

button:focus {
    color: white;
    background-color:#2196F3;
}

/* -------------------------------ФУТЕР--------------------------------- */

.logo-footer {
    color:var(--secondary-text-color);
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
} 

.logo-footer:not(.nohover):hover,
.logo-footer:not(.nofocus):focus {
color: var(--primary-text-color);
}


.place {
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
}

.footer-info {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .address {
    margin-top: 20px;
}

.footer li {
    margin-top: 9px;
}

 .footer {
    background: var(--accent-background-footer-color);
 }






