body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

a:focus {
    color: #2196F3;
}

.contacts {
    color: #757575;
}

.button {
    color:#212121;
    background-color:#F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    
    border-radius: 4px;
    width: 84px;
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.button:hover {
    cursor:pointer;
    color: white;
    background-color:#2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button:focus {
    color: white;
    background-color:#2196F3;
}