:root {
    --accent-background-title-color: #2F303A;
    --accent-background-footer-color: #2F303A;
    --accent-background-our-team-color: #F5F4FA;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2196F3;
    --accent-text-color: #757575;

}

body {
    font-family: 'Roboto', sans-serif;
    cplor:var(--accent-text-color);
}

.header {
    background: #FFFFFF;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #2196F3;
}

a:focus {
    color: #2196F3;
}

.contacts {
    color: #757575;
}

button {
    color:#212121;
    background-color:#F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 84px;
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    color: var(--secondary-text-color);
    background: var(--accent-color);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height: 45px;
    border: none;
    cursor: pointer;
}

button:hover {
    cursor:pointer;
    color: white;
    background-color:#2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

button:focus {
    color: white;
    background-color:#2196F3;
}